= form_for @status do |f|
  - if @status.errors.any?
    #error_explanation
      %h2= "#{pluralize(@status.errors.count, "error")} prohibited this status from being saved:"
      %ul
        - @status.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :value, 'Positive or negative?'
    = f.text_field :value, class: 'form-control'
  .form-group
    = f.label :hospital_id
    = f.text_area :hospital_id, class: 'form-control'
  .form-group
    = f.label :user_id, 'User_id'
    = f.text_area :user_id, class: 'form-control'

  .form-group
    = f.submit 'Save', class: 'btn btn-primary'
