/ // ~~~~~~~~~~~~~~~~ if current_user is NOT vissiting his own page ~~~~~~~~~~~~~~~~~~~~~~
/ -if @user
/   .user_wrap
/     .card_box
/       .card
/         .card_img
/           = image_tag "tatsuki.jpg", :class => "card-img-top"

/         %ul.list-group.list-group-flush
/           %li.list-group-item User ID : #{current_user.uuid}
/           %li.list-group-item Name : #{current_user.name}
/           / = current_user.status
/           %li.list-group-item Gender : #{current_user.gender}

/         %ul.list-group.list-group-flush
/           =link_to 'Go to see HIV status', profile_status_path, class: "btn btn_normal btn-lg active"

/   // follow friend btn
/   / -if user_signed_in?
/   /   %span.follow-wrapper
/   /     =render 'follow_form'

/ // ~~~~~~~~~~~~~~~~ if current_user is vissiting his own page ~~~~~~~~~~~~~~~~~~~~~~
/ -else
.user_wrap
  .card_box
    .card
      .card_img
        = image_tag "tatsuki.jpg", :class => "card-img-top"

      %ul.list-group.list-group-flush
        %li.list-group-item User ID : #{current_user.uuid}
        %li.list-group-item Name : #{current_user.name}
        / = current_user.status
        %li.list-group-item Gender : #{current_user.gender}

      %ul.list-group.list-group-flush
        =link_to 'Go to see HIV status', profile_status_path, class: "btn btn_normal btn-lg active"

  -if @user

  -else
    .card_box.upload_file
      .card{:style => "width: 18rem;"}
        .card-body
          %form{:action => "/profile/upload", :enctype => "multipart/form-data", :method => "get"}
            %div.form-group
              %label.card-title Upload Test Result
              %input.form-control-file{:name => "file", :type => "file"}
              %br
              %input{:type => "submit", :value => "Upload", class: "btn btn_normal btn-lg active"}
          / %h5.card-title Card title
          / %h6.card-subtitle.mb-2.text-muted Card subtitle
          / %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
          / %a.card-link{:href => "#"} Card link
          / %a.card-link{:href => "#"} Another link
