.statusWrap
  -if !@st.blank?
    -if Time.now.strftime("%Y-%m-%d").to_i.days - @st.created_at.strftime("%Y-%m-%d").to_i.days < 90
      .card{:style => "width: 100%;"}
        -if @st.value == "positive"
          %img.card-img-top{:alt => "positive", :src => "/assets/positive.png"}

        -if @st.value == "negative"
          %img.card-img-top{:alt => "negative", :src => "/assets/negative.png"}
        .blank_box
        .card-body.status
          %h2.card-title Date of your last test
          %p.time= "#{@st.created_at.strftime("%m/%d/%Y")}"
          %h2.card-title Days you have left
          %p.time= "#{90 - (Time.now.strftime("%Y-%m-%d").to_i.days - @st.created_at.strftime("%Y-%m-%d").to_i.days)} days"
          %h2.card-current-time The current time
          %p#time-now
  -else
    .card{:style => "width: 100%;"}
      %img.card-img-top{:alt => "Expired", :src => "/assets/Expired.jpg"}/
      .blank_box
      .card-body.expired
        %h2.card-title Date of your last test
        -if @st.blank?
          %p.not_yet= "you have not taken a test yet"
        -else
          %p.time= "#{@st.created_at.strftime("%m/%d/%Y")}"
        %p.card-text To keep proving yourself not to have HIV, you need to check it at the proper facility every 3 months.
        / %a.btn.btn-primary{:href => "#"} Go somewhere


:coffee
  set2fig = (num) ->
    # 桁数が1桁だったら先頭に0を加えて2桁に調整する
    ret = undefined
    if num < 10
      ret = '0' + num
    else
      ret = num
    ret

  showClock = ->
    nowTime = new Date
    nowYear = nowTime.getFullYear()
    nowMonth = ("00" + (nowTime.getMonth()+1)).slice(-2)
    nowDate = ("00" + nowTime.getDate()).slice(-2)
    nowHour = set2fig(nowTime.getHours())
    nowMin = set2fig(nowTime.getMinutes())
    nowSec = set2fig(nowTime.getSeconds())
    msg = nowYear + '/' + nowMonth + '/' + nowDate + ' ' + nowHour + ':' + nowMin + ':' + nowSec

    document.getElementById('time-now').innerHTML = msg
    return

  setInterval showClock, 1000
