.home_box
  .main_icon
    = image_tag 'hiview.png', :class => "gem"

  .links_wrap
    -if user_signed_in?
      .links_box
        %h3  For Users
        = link_to 'User Profile', profile_url, class: "btn btn_normal btn-lg active"
        %br
        %br
        = link_to 'Logout User', destroy_user_session_url, method: :delete, class: "btn btn_normal btn-lg active"

    -elsif  hospital_signed_in?
      .links_box
        %h3  For Hospitals
        = link_to 'Go create a new status', new_status_url, class: "btn btn_normal btn-lg active"
        %br
        %br
        = link_to 'Logout Hospital', destroy_hospital_session_url, method: :delete, class: "btn btn_normal btn-lg active"

    -else
      .links_box
        %h3  For Users
        = link_to 'Sign Up', new_user_registration_url, class: "btn btn_normal btn-lg active"
        %br
        %br
        = link_to 'Sign In', new_user_session_url, class: "btn btn_normal btn-lg active"
      .links_box
        %h3  For Hospitals
        = link_to 'Sign In', new_hospital_session_url, class: "btn btn_normal btn-lg active"

    .links_box
      %h3  For Info
      = link_to 'what is HIV?', "/info", class: "btn btn_normal btn-lg active"
